h1 {
  margin-top: 10%;
  padding-left: 5%;
}
.admin-panel {
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5%;
}

.admin-table {
  width: 80%;
  border-collapse: collapse;
}

th[colspan="3"] {
  font-size: 20px;
  background-color: #bc1818;
  color: white;
  padding: 15px;
}

th {
  background-color: #ababab;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.icono-rojo {
  color: red;
  font-size: 20px;
}

.icono-verde {
  color: green;
  font-size: 20px;
}
