* {
  margin: 0;
  padding: 0;
}
.categorias-types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1112px;
  height: 907px;
  gap: 15px;
}
.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(139, 213, 255);
  background: radial-gradient(
    circle,
    rgba(139, 213, 255, 1) 0%,
    rgba(21, 105, 180, 1) 35%,
    rgba(1, 51, 140, 1) 100%
  );
  border-radius: 2vh;
  border: 0.3vh solid #ccc;
  padding: 1vh;
  box-sizing: border-box;
  overflow: hidden;
  height: 289px;
  position: relative;
}

.categoria:nth-child(1),
.categoria:nth-child(4),
.categoria:nth-child(5) {
  width: 404px;
}

.categoria:nth-child(2),
.categoria:nth-child(3),
.categoria:nth-child(6) {
  width: 680px;
}

.categoria:nth-child(2),
.categoria:nth-child(6) {
  margin-left: -275px;
}

.categoria img {
  width: 90%;
  height: 289px;
  object-fit: scale-down;
}

.categoria span {
  position: absolute;
  background:#ED1B24 ;
  color: white;
  top: 10px;
  left: 15px;
  margin-top: 10px;
  font-size: 34px;
  font-weight: 500;
  padding: 7px;
  border-radius: 16px;
}
