@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap");

/* Configuración general */
body {
  font-family: "Aleo", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 370px;
  width: 100%;
}

/* Sección de títulos */
.section-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  color: #333;
}


/* Contenedor de categorías */
.categorias-container {
  width: 100%;
  background-color: #f8d9d9;
  text-align: center;
  margin: 0 auto;
  padding: 20px 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Buscador */
.buscador {
  background-color: #f8d9d9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

.buscador h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* Input de búsqueda */
.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-container {
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  border: none;
  border-radius: 5px;
  width: 174px;
  height: 33px;
  padding: 5px;
}

.input-container .icon1 {
  position: absolute;
  right: 260px;
  color: black;
  font-size: 18px;
}

/* Botón de búsqueda */
.buscar-boton {
  background-color: #bc1818;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buscar-boton:hover {
  background-color: #a31515;
}


.categorias-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}


.productos {
  justify-items: center;
  padding: 30px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

